.backDrop {
  @apply fixed;
  @apply flex justify-center items-center;
  @apply top-0 left-0;
  @apply w-full;
  @apply h-full;
  @apply md:p-8;
  @apply bg-black/50;
  @apply overflow-scroll;
}

.popupCard {
  @apply relative;
  @apply flex flex-col;
  @apply w-full md:w-max md:max-w-[80rem];
  @apply h-auto md:min-h-max;
  @apply m-auto;
  @apply p-8 lg:p-16;
  @apply inset-0;
  @apply bg-slate-100;
  @apply text-slate-800;
  @apply md:rounded-xl;
  @apply shadow-xl;

  .closeButton {
    @apply fixed md:absolute;
    @apply top-4 right-4 md:top-6 md:right-6;
    @apply h-8 w-8;
    @apply text-xl;
    @apply bg-slate-300/50;
    @apply rounded-full;
    @apply z-50;
    @apply hover:scale-110;
    @apply transition-transform;
    @apply leading-normal;

    & > svg {
      @apply block;
      @apply relative;
      @apply w-full h-full;
    }
  }
}

.header {
  @apply lg:grid lg:grid-cols-2 gap-8;
  @apply mt-8 mb-4 lg:mt-0;

  & > div {
    @apply flex flex-row;
    @apply items-center;

    h1 {
      @apply text-3xl md:text-4xl;
      @apply font-bold;
    }
  
    a {
      @apply ml-4 lg:ml-auto;
      @apply hover:scale-110;
      @apply transition-all;
      
      & > svg {
        @apply w-10;
        @apply h-auto;

        * {
          @apply fill-[#2081E2];
        }
      }
    }
  }
}

.contentContainer {
  @apply flex flex-col lg:grid lg:grid-cols-2 gap-8;
  @apply w-full h-min;

    img {
      @apply w-full;
      @apply h-auto;
      @apply rounded-xl;
      @apply drop-shadow-lg;
    }

  .rightSide {
    @apply w-full;
    @apply relative;
    @apply lg:aspect-square;
    @apply lg:overflow-auto;
    @apply flex flex-col lg:grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;

    &::after {
      content: '';
      @apply absolute;
      @apply hidden lg:block;
      @apply left-0;
      @apply w-full h-8;
      @apply z-10;
    }

    &::after {
      bottom: 0;
      @apply bg-gradient-to-t from-slate-100 to-transparent;
    }

    .tokenInfo {
      @apply flex flex-col sm:grid sm:grid-cols-2 gap-4 sm:gap-x-8 sm:gap-y-4;

      &::after {
        @apply sm:col-span-2;
        content: '';
        @apply relative;
        @apply block;
        @apply mt-2;
        @apply w-full;
        @apply h-px;
        @apply bg-slate-900/25;
        @apply z-20;
      }

      & > div {
        @apply flex flex-col justify-start;

        & dt {
          @apply text-slate-600;
          @apply text-sm;
          @apply font-bold;

          &:after {
            content: ': ';
            @apply hidden lg:inline;
          }
        }

        .owner {
          @apply flex justify-start items-center gap-2;
        }

        svg {
          @apply h-[1.125rem];
        }
      }
    }

    .tokenTraits {
      @apply py-8;
      @apply lg:overflow-scroll;

      & > dl {
        @apply grid md:grid-cols-2 gap-4 md:gap-8;

        & > div {
          @apply py-2 px-4;
          @apply bg-slate-200;
          @apply rounded-xl;
          @apply drop-shadow-md;

          & dt {
            @apply text-xs;
            @apply font-bold;
            @apply text-slate-500;
          }
        }
      }

      & > p {
        @apply animate-pulse;
        @apply text-slate-600;
        @apply font-bold;
        @apply text-lg;
        @apply text-center;
      }
    }
  }
}
