@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Rubik', sans-serif;
  @apply scroll-smooth;
  @apply text-slate-900;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}